@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --bg-color: #ffffff;
  --text-color: #1a1a1a;
  --input-bg: #f0f0f0;
  --input-text: #1a1a1a;
  --border-color: #cac0c0;
  --button-bg: #4f46e5;
  --button-hover: #4338ca;
  --button-text: #ffffff;
  --task-bg: #dcdbdb;
  --task-active: #a6a2ed;
  --shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.dark {
  --bg-color: #1f2937;
  --text-color: #f3f4f6;
  --input-bg: #374151;
  --input-text: #f9fafb;
  --border-color: #4b5563;
  --button-bg: #6366f1;
  --button-hover: #4f46e5;
  --button-text: #f9fafb;
  --task-bg: #2f3641;
  --task-active: #373568;
  --shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.2), 0 2px 4px -1px rgba(0, 0, 0, 0.12);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  font-size: 1.1rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

#root {
  width: 100%;
}

.container {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

main {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem;
  padding-top: 1.5rem;
  flex: 1;
  position: relative;
  max-height: 100vh;
  overflow: auto;
}

.menu.open ~ main {
  max-height: 0vh;
}

main {
  transition: max-height 0.6s ease;
}

main > * {
  transition: opacity 0.3s ease;
}

.menu.open ~ main > *:not(.menu-icon) {
  opacity: 0;
}

* {
  font-family: 'Nunito', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

summary {
  user-select: none;
  font-weight: bold;
  cursor: pointer;
}

button,
input,
textarea {
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease,
    color 0.2s ease;
}
